{% extends 'iceland/base.html'%}
{% load static %}


{% block content %}

<div class="background"></div>
<div class="screen"></div>
<div class="main-header">Формульные<br>конструкции</div>
<div class="desc-button-block">
	<a class="btn-floating btn-large waves-effect waves-light desc-button" href="#sec1"><i class="material-icons">arrow_downward</i></a>
</div>

<!-- Быстрая затычка для правильного проскролла к описанию проекта -->
<div class="filler-block" id="sec1"></div>

<div class="row main-row">
    <div class="col s1"></div>

	<div class="col s10">
		<p class="index-header">Описание проекта</p>

		<div class="index-section">
			<img class="index-pic-left" src="{% static 'iceland/img/index_1.jpg' %}">

			<p class="index-text">
				Наша команда занимается поиском неколлокационных повторов в корпусе древнеисландских саг.  С одной стороны, это могут быть формулы - повторяющиеся формулировки, встречающиеся во многих сагах и употребляющиеся в схожих содержательных или композиционных условиях (например, формула сказочного зачина "Жили-были"). С другой стороны, повторения фраз, встречающиеся в конкретной саге - повторы часто оказываются нарративным приемом в саговом повествовании (например, в "Саге о Курином Торире" одна и та же фраза в различных вариациях встречается четыре раза, таким образом обрамляется сожжение Кетиля Сони). 
			</p>
		</div>

		<div class="index-section">
			<p class="index-text">
				Повторы такого рода отличаются довольно сильной вариативностью. Часто часть слов  в них заменяется лексическими или контекстными синонимами. Несмотря на то, что при традиционной работе "руками" подобные конструкции легко заметить, их поиск занимает большое количество времени. По этой причине нам стало интересно попробовать автоматизировать процесс поиска и разработать алгоритм, который хотя бы частично облегчил задачу исследователей.
			</p>

			<img class="index-pic-right" src="{% static 'iceland/img/index_2.jpg' %}">
		</div>

		<div class="index-section">
			<img class="index-pic-left" src="{% static 'iceland/img/index_3.jpg' %}">

			<p class="index-text">
				Работа состоит из трех этапов: формирование списка нграмм, фильтрации результатов и «схлопывание» контекстных вариантов. В связи с тем, что некоторые варианты одной формулы могут встречаться очень редко, просто отсеивать нграммы по частотности не получается. Более того, устройство исландского языка усложняет нашу работу (свободный порядок слов, обилие компаундов и тд) и требует разработки специального алгоритма фильтрации, учитывающего особенности нашего языкового материала. В данный момент мы разрабатываем специальный алгоритм фильтрации с учетом особенностей исландского языка. 
			</p>
		</div>

		<div class="index-section">
			<p class="index-text">
				Отдельной задачей является определения «смысла» формул. Это позволило бы классифицировать повторы, что особенно актуально для формульных исследований. Трудность заключается в том, что идея, выражаемая формулой, не обязательно содержится в том же предложении или абзаце, в котором упоминается сама формула. Да и задача определения смысла формулы автоматически довольно нетривиальная, поэтому для нас она является экспериментальной программой максимум, основная задача - это поиск повторов. 
			</p>

			<img class="index-pic-right" src="{% static 'iceland/img/index_4.jpg' %}">
		</div>

		<div class="index-section">
    		<p class="index-text"><span class="bold">Команда проекта:</span> Дарья Глебова (руководитель), Анастасия Костяницына, Евгений Глазунов, Анна Кондратьева.</p>
    	</div>

	</div>

    <div class="col s1"></div>
</div>

{% endblock %}
